<div class="callout">
  <h1>Submit New Mission</h1>
  <i class="fa fa-chevron-left">
    <%= link_to 'Back to All Missions', missions_path %>
  </i>
  
  <%= render partial: 'layouts/mission_form', mission: @mission %>
</div>
